.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font: 16px system-ui;
}

.form {
	width: 300px;
	box-shadow: 0 4px 16px #0000005a;
	border-radius: 12px;
	padding: 32px;
}

.form__title {
	margin: 0 0 32px 0;
	font-size: 24px;
	text-align: center;
}

.form__text-input-group {
	position: relative;
	margin: 0 auto;
	margin-bottom: 24px;
	width: fit-content;
}

.form__text-input {
	transition: 0.25s ease;
	width: 200px;
	border: none;
	border-bottom: 1px solid #aeaeae;
	outline: none;
	padding: 4px 0;
	background: none;
	font: 16px system-ui;
}

.form__text-input:focus,
.form__text-input:not(:placeholder-shown) {
	border-bottom: 1px solid #727272;
}

.form__text-input-label {
	position: absolute;
	z-index: -1;
	left: 0;
	transition: 0.25s ease;
	color: #aeaeae;
}

.form__text-input:focus ~ .form__text-input-label,
.form__text-input:not(:placeholder-shown) ~ .form__text-input-label {
	font-size: 12px;
	transform: translateY(-12px);
	color: #727272;
}

.form__action-group {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.form__button {
	transition: 0.25s ease;
	border: none;
	border-radius: 4px;
	outline: none;
	padding: 10px;
	cursor: pointer;
	font: 16px system-ui;
}

.form__button_primary {
	background: #3e5ae7;
	color: #ffffff;
}

.form__button_primary:hover,
.form__button_primary:focus {
	background: #526ae0;
}

.form__button_secondary {
	background: #d1d1d1;
	color: #727272;
}

.form__button_secondary:hover,
.form__button_secondary:focus {
	background: #d7d7d7;
}
