/* TODO: take out and declare explicitly font for form elements etc. */

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font: 500 16px system-ui;
}

.form {
	width: 300px;
	box-shadow: 0 4px 16px #0000005a;
	border-radius: 12px;
	padding: 32px;
	user-select: none;
}

.form__title {
	margin: 0 0 24px 0;
	font-size: 24px;
	text-align: center;
}

.form__text-input-group {
	position: relative;
	margin: 0 0 24px 0;
}

.form__text-input {
	transition: 0.25s ease;
	width: 100%;
	height: 32px;
	border: none;
	border-bottom: 2px solid #c5c5c5;
	outline: none;
	padding: 6px 0;
	background: transparent;
	font: 500 16px system-ui;
}

.form__text-input:focus {
	border-bottom: 2px solid #9b9b9b;
}

.form__text-input-label {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	transition: 0.25s ease;
	line-height: 32px;
	color: #aeaeae;
}

.form__text-input:focus ~ .form__text-input-label,
.form__text-input:not(:placeholder-shown) ~ .form__text-input-label {
	top: -18px;
	font-size: 14px;
}

.form__text-input:focus ~ .form__text-input-label {
	color: #727272;
}

.form__action-group {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.form__button {
	transition: 0.25s ease;
	border: none;
	border-radius: 6px;
	outline: none;
	padding: 10px 16px;
	cursor: pointer;
	font: 500 16px system-ui;
}

.form__button_primary {
	background: #3e5ae7;
	color: #ffffff;
}

/* FIXME: Buttons :focus state freezes after click */
.form__button_primary:hover,
.form__button_primary:focus {
	background: #526ae0;
}

.form__button_secondary {
	background: #dedede;
	color: #727272;
}

.form__button_secondary:hover,
.form__button_secondary:focus {
	background: #d7d7d7;
}
